.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightcoral;
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center; /* Center the content */
  align-items: center; /* Align items vertically in the center */
}

.App-link {
  color: #61dafb;
}

.card-title {
  font-family: "Poppins", sans-serif;
  color: #ff6347 !important;
}

.card-subtitle {
  font-style: italic;
}

.card {
  width: 100%;
  border: 2px solid #eee;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.25);
}

.shake-emoji {
  margin: 0 0.3em; /* Add some spacing around the emojis */
  transition: transform 0.2s;
}

.shake-emoji:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
